<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}} | Pixel Pop</title>
  <link href="https://fonts.googleapis.com/css2?family=Karma:wght@400;500;600;700&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header class="site-header">
  <div class="main-nav">
    <a href="/">Home</a>
    <a href="/allproducts">Shop</a>
    <a href="/contact">Contact</a>
    <span class="heart-icon">💗</span>
  </div>
  <div class="header-bd">
    <img src="/images/pixelpop.png" alt="Pixel Pop logo" class="logo"/>
  </div>
</header>
  <main>
    {{{body}}}
  </main>

  <footer class="site-footer">
    <nav class="footer-nav">
      <a href="/contact" class="footer-content">Contact</a>
      <span class="footer-content">Privacy Policy</span>
      <span class="footer-content">Terms and Conditions</span>
      <a href="/admin/login" class="footer-content">Admin Login</a>
    </nav>
    <p class="footer-nav">&copy; 2025 Pixel Pop</p>
  </footer>

  <script>
    function confirmDelete(productName) {
      return confirm(`Are you sure you want to delete "${productName}"?`);
    }
  </script>

</body>
</html>
