<h1 class="visually-hidden">Admin Login</h1>
<img src="/images/adminlogin.png" alt="" aria-hidden="true" class="login-page-banner">

<div class="login-container">
  <form action="/admin/login" method="POST" class="login-form">
    
    <div class="login-field">
      <label for="username" class="visually-hidden">Username</label>
      <div class="input-wrapper">
        <img src="/images/filelogo.png" alt="" aria-hidden="true" class="input-icon-inside">
        <input id="username" name="username" type="text" required placeholder="Username">
      </div>
    </div>

    <div class="login-field">
      <label for="password" class="visually-hidden">Password</label>
      <div class="input-wrapper">
        <img src="/images/locklogo.png" alt="" aria-hidden="true" class="input-icon-inside">
        <input id="password" name="password" type="password" required placeholder="Password">
      </div>
    </div>

    <button type="submit" class="login-button">LOGIN</button>
  </form>
</div>


