<div class="contact-container">
  <h1 class="contact-title">Contact Us</h1>

  <form action="/contact" method="POST" class="contact-form">
    <input id="name" name="name" placeholder="Name" type="text" required>

    <input id="email" name="email" placeholder="Email" type="email" required>

    <input id="subject" name="subject" placeholder="Subject" type="text" required>

    <textarea id="message" name="message" placeholder="Message" rows="5" required></textarea>

    <button type="submit" class="send-button">Send</button>
  </form>
</div>